body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: grid;
    grid-template-areas: "nav" "header" "section1" "section2" "section3" "footer";
    grid-template-rows: 43% 19% 24% 15% 18% 13%;
}

.banner {
    display: flex;
    justify-content: space-around;
    grid-area: nav;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.75vh;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.Titulo1 {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

.texto1 {
    font-size: 25px;
}

.hand {
    display: flex;
}

header {
    grid-area: header;
    display: flex;
    background-color: #ffff;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.Parte2 {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.espaço1 {
    text-align: -webkit-center;
}

.icone2 {
    border-radius: 100px;
    width: 50px;
    background-color: #2ccd70;
}

.TituloP2 {
    font-size: 18px;
}

.TextoP2 {
    font-size: 14px;
    color: #aaaaaa;
}

.section1 {
    grid-area: section1;
    display: flex;
    background-color: #e3e3e3;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.Parte3 {
    display: flex;
    justify-content: space-evenly;
}

.LadoDireito {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto3 {
    font-size: 14px;
    color: #aaaaaa;
}

.section2 {
    grid-area: section2;
    display: flex;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
}

.Parte4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.texto4 {
    color: #aaaaaa
}

.Titulo4 {
    font-size: 12px;
}

.imagenzinhas {
    display: flex;
    margin: 2px;
}

.section3 {
    grid-area: section3;
    display: flex;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
}

.texto5 {
    color: #aaaaaa;
}

.icone3 {
    display: flex;
    justify-content: center;
}

.rodape {
    background-color: #e3e3e3;
}

.link {
    display: flex;
    justify-content: space-evenly;
    color: #aaaaaa;
}